html{
background-color: #ff8000;
}
@font-face {
   font-family: myFirstFont;
   src: url(AirstreamNF.otf);
}
@font-face {
   font-family: myFont;
   src: url(mayqueen.ttf);
}

h1{
    font-family: myFirstFont;
    font-size: 161px;
    word-spacing: 55px;
    letter-spacing: 10px;
    margin-left: 74px;
}

ul{
	border: 10px solid;
    border-color: #4242EA;
    /*border-width: 13px;*/
    background-color: #4242EA;
    margin-top: -130px;
    font-size: 48px;
    word-spacing: 40px;
    /*margin-right: -29px;*/
 }
 ul a {
 	color: white;
    text-decoration: none;
 }
 a:hover, a:active {
     background-color: 99FF00;
 }
 #currentPg{
    border-bottom: solid;
    border-color: black;
    background-color: grey;
 }
div {
   border-radius: 5px;
    background-color: #f2f2f2;
    padding: 40px;
    margin-left: 24%;
    margin-right: 21%;
    height: 210px;
}

input[type=submit] {
    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 452px;
}
input[type= submit]:hover {
    background-color: yellow;
    color: red;
    font-weight: bold;
}
 .intro{
 	color: white;
    float: right;
    margin-right: -562px;
    margin-top: 97px;
    font-size: x-small;
 }

footer 
{	
	text-align: center;
    margin-top: 132px;
    margin-right: 165px;
}


